        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html4/frameset.dtd">
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>  <title>Plan zajęć: Plan zajęć, Uniwersytet Śląski, rok 2024/2025, semestr letni</title>
  <link rel="icon" href="images/ats4.ico" type="image/ico">
  <link rel="SHORTCUT ICON" href="images/ats4.ico">
</head>


<frameset rows="86,*" framespacing="0" frameborder="no" border="0" style="border: 0;">
  <frame src="menug.php" name="page_header" frameborder="0" scrolling="no" 
         marginwidth="0" noresize="noresize">
  <frameset cols="*,120" framespacing="0" frameborder="1" border="0" name="frameset1">
    <frameset cols="171,*" framespacing="2" frameborder="1" border="2" 
              style="border: 3pt; " name="frameset2">
      <frame src="left_menu.php" name="left_menu" frameborder="1" scrolling="auto" 
             marginwidth="5" bordercolor="#333333">
             <frame
  src="main.php" name="page_content" frameborder="0" scrolling="auto"
  marginwidth="0" >
 </frameset>
</frameset>
</frameset>  
</html>

